/* dark to light:  #00BFFF  #87CEFA  #00FFFF */

body {
	background-image: url("../images/background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  }

.jumbotron {
	color: #87CEFA;
	margin-top: 50px;
	margin-bottom: 50px;
	background-size: cover;
	padding: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background: transparent;
}

#startBtn {
	height: 100px;
	width: 200px;
	text-align: center;
	line-height: 75px;
	font-size: 50px;
}

#resetBtn {
	height: 100px;
	width: 200px;
	text-align: center;
	line-height: 75px;
	font-size: 50px;
}

.panel {
	margin-top: 50px;
	margin-bottom: 50px;
	background-size: cover;
	padding: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background: transparent;
	border: none;
}

h2 {
	font-size: 40px;
}

#display {
	font-size: 75px;
	background-color: black;
	color: yellow;
	width: 250px;
	height: 100px;
	text-align: center;
	align-content: center;
	align-self: center;
	padding: 10px;
	border-radius: 12px;
}

li {
	display: inline-block;
}

.button1 {
	border: white;
	background-color: #87CEFA;
	color: black;
	text-align: center;
	display: inline-block;
	font-size: 40px;
	border-radius: 5px;
	size: 100px;
	padding: 25px;
	margin: 25px;
}

h3 {
	font-size: 60px;
	color: #87CEFA;
}